<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Mes dossiers</h3>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li id="all"><a href="" ><i class="fa fa-inbox"></i> Toutes les ventes</a></li>
            <li id="finished"><a href="" ><i class="fa fa-inbox"></i> Ventes terminées</a></li>
            <li id="pending"><a href="" ><i class="fa fa-inbox"></i> Ventes en cours</a></li>
            <li id="blocked"><a href="" ><i class="fa fa-inbox"></i> Ventes bloquées</a></li>
        </ul>
    </div>
</div>