{% extends ':front:base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Félicitation</h1>
    </div>
    <p class="well">
        @TODO : Résumé de ta commande
    </p>

{% endblock %}