{% extends ":back:base.html.twig" %}

{% block body -%}
    <div class="row">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        {{ form(form) }}
                        <a href="{{ path('category') }}" class="btn btn-primary">
                            Retourner à la liste
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}
