<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" title="Nombre de commandes totals">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total commandes</span>
                <span class="info-box-number">{{countTotalPurchase}}</span>
            </div>
        </div>
    </div>
</div>