<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">L'erreur suivante a été détécté:</span>
    {{error | raw}}
</div>