<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" title="Fiches total">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Fiches total</span>
                <span class="info-box-number">{{countAllSheets}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Fiches à valider">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Fiches à valider</span>
                <span class="info-box-number">{{countToValidateSheets}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Fiches validées">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Fiches validées</span>
                <span class="info-box-number">{{countSheetsValidate}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Fiches refusées">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Fiches refusées</span>
                <span class="info-box-number">{{countSheetsRefused}}</span>
            </div>
        </div>
    </div>
</div>