<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Mes dossiers</h3>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li id="untreated"><a href="" ><i class="fa fa-inbox"></i> Fiches non traitées</a></li>
            <li id="validated"><a href="" ><i class="fa fa-inbox"></i> Fiches validées</a></li>
            <li id="refused"><a href="" ><i class="fa fa-inbox"></i> Fiches refusées</a></li>
            <li id="selected"><a href="" ><i class="fa fa-inbox"></i> Fiches de notre séléction</a></li>
        </ul>
    </div>
</div>