{% extends ':front:base.html.twig' %}

{% block body -%}
    <h1>Comment creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
