
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" title="Membres actifs aujourd'hui">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Membres actifs aujourd'hui</span>
                <span class="info-box-number">{{countActifMembersToday}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Membres total">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Membres total</span>
                <span class="info-box-number">{{countAllMembers}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Membres bloqués">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Membres bloqués</span>
                <span class="info-box-number">{{countBlockedMembers}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" title="Membres bannis">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Membres bannis</span>
                <span class="info-box-number">{{countBannedMembers}}</span>
            </div>
        </div>
    </div>
</div>