<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Mes dossiers</h3>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li id="all"><a href="" ><i class="fa fa-inbox"></i> Tous les utilisateurs</a></li>
            <li id="banned"><a href="" ><i class="fa fa-inbox"></i> Utilisateurs bannis</a></li>
            <li id="blocked"><a href="" ><i class="fa fa-inbox"></i> Utilisateurs bloqués</a></li>
        </ul>
    </div>
</div>