{% extends 'UlysseBusinessConfigurationBundle:Back:index.html.twig' %}

{% block content -%}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
