<section class="content">
    <div class="row">
        <div class="col-md-1é">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Commandes cette année</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="sale-chart" style="height:250px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>